@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    color: #111;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.aside{
    width: 30%;
    height: 100vh;
    background-color: #fff;
    padding: 0px 100px;
    box-shadow: 1px 0px -12px 1px #111;
}

h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 160px;
    font-size: 2.3em;
}

.main{
    display: none;
    background-color: #fafafa;
    height: 100vh;
}

.wrapper{
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.photo{

    background-color: #fafafa;
}

.photo-item img{
    height: 100vh;
    position: absolute;
}

.content{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #525252;
}

.text-item{
    min-height: 520px;
}


.arrow:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

#left-arrow{
    display: block;
}

#right-arrow{
    float: right;
    display: block;
}

#home-btn{
    display: none;
}

#home-btn-right{
    float: right;
    display: none;
}

.home{
    width: 100%;
    height: 100vh;
}

#logo{
    margin-top: 10%;
    margin-left: 35%;
    width: 25%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.7s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}