@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    color: #111;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.aside{
    width: 30%;
    background-color: #fff;
    padding: 0px 100px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3em;
}

.main{
    display: none;
    background-color: #fafafa;
    height: 100vh;
}

.wrapper{
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.photo{
    background-color: #fafafa;
}

.photo-item img{
    height: 100vh;
    position: absolute;
}

.content{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #525252;
}

.arrow:hover{
    cursor: pointer;
}

.arrow-btns{
    position: absolute;
    top: 680px;

}

.hidden{
    display: none;
}

#left-arrow{
    display: block;
}

#right-arrow{
    float: right;
    display: block;
}

#home-btn{
    display: none;
}

#home-btn-right{
    float: right;
    display: none;
}

.home{
    background-image: linear-gradient(rgba(30,87,153,0.3) 0%, rgba(125,185,232,0) 100%);
    width: 100%;
    height: 100vh;
}

#logo{
    margin-top: 10%;
    margin-left: 37.5%;
    width: 25%;
}

#brand-logo{
    width: 75px;
    margin: 40px 0px;
}

#start-arrow{
    position: absolute;
    top: 75%;
    left: 49.5%;
}

a{
    color: #000;
}

.fade-in-home {
	opacity: 1;
	animation-name: fadeInHome;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInHome {
	0% {
        opacity: 0;
        transform:translateY(-50px);
	}
	100% {
        opacity: 1;
        transform:translateY(0px);

	}
}

.fade-in-left {
	opacity: 1;
	animation-name: fadeInLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInLeft {
	0% {
        opacity: 0;
        transform:translateY(-30px);
	}
	100% {
        opacity: 1;
        transform:translateY(0px);

	}
}

.fade-in-right {
	opacity: 1;
	animation-name: fadeInRight;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInRight {
	0% {
        opacity: 0;
        transform:translateX(100px);
	}
	100% {
        opacity: 1;
        transform:translateX(0px);

	}
}

@media (max-width: 420px){
    #logo{
        margin-top: 65%;
        margin-left: 34.5%;
        width: 35%;
    }

    #start-arrow{
        position: absolute;
        top: 65%;
        left: 49.5%;
    }
}

@media (min-width: 5000px){
    #start-arrow{
        position: absolute;
        top: 75%;
        left: 49.1%;
    }

    #start-arrow svg{
        width: 120px;
        height: 120px;
    }

    h2{
        font-size: 6rem;
    }

    .content{
        font-size: 3.2rem;
    }

    .aside{
        padding: 0px 250px;
    }

    .arrow-btns{
        top: 2600px;
    }

    .arrow-btns svg{
        width: 80px;
        height: 80px;
    }

    #brand-logo{
        margin: 180px 0px 50px 0px; 
        width: 180px;
    }


}